body{
    position: relative;
    background-image: url("http://www.alexwojtak.com/wallpaper.jpg");
    background-size: cover;
    font-family:  Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #FFFFFF;
}
form{
    text-align: center;
    margin-bottom: 10%;
}
h1{
    text-align: center;
  }
.soundboardElement{
    background-size: cover;
    display: inline-block;
    margin:20px;
    height: 150px;
    width: 150px;
    cursor: pointer;
    border: 1px solid #000000;
  }
.soundboardElementText{
    margin-top: 80%;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#title{
    color: #000000;
    text-align: center;
}
#description{
    color: #000000;
    text-align: center;
}
#container{
    width : 100%;
    margin: auto;
    font-size: 1.3vw;
	font-weight: 100;
}
#reactTarget{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    border: 12px solid #966F33;
  }
  #soundboardLeft{
    background-image: url('cork.jpg');
    width: 550px;
    width: 70%;
  }
#soundboardRight{
    background: dodgerBlue;
    background-image: url('paper.jpg');
    width: 30%;
    min-width: 250px;
  }
#soundboardImage{
    margin: 30px;
    height: 250px;
  }
#soundboardName{
    margin: 30px;
    height: 120px;
    color: #000000;
  }